<footer class="footer">
    <div class="footer-inner">
        <div class="h-100 pt-3 border-t-1 brc-secondary-l3 bgc-white">
            <span class="text-primary-m2 font-bolder text-120">Blow Out</span>
            <span class="text-muted"> &copy; 2022</span>
        </div>
    </div>
</footer>
<div class="footer-tools">
    <a href="#" class="btn-scroll-up btn btn-white brc-black-tp7 px-25 py-2 text-95 border-2 radius-round mb-2 mr-2">
        <i class="fa fa-angle-double-up w-2 h-2"></i>
    </a>
</div>